
*{
    font-family: "Game of thrones";
}

#titulo{
    margin-right: 39%;
    margin-left: 39%;
    font-family: "Game of thrones";
    font-size: 3em;
    color: whitesmoke;
    position: absolute;
    z-index: 10;
    margin-top: 1%;
}

a{
    text-decoration:none !important;
}

.jumbotron{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:0;
}

#libros{
    width:100%;
    
}



.card{
    background-color:unset;
}

.card .btn-link{
    color:white;
}

.card-body{
    color:white;
}

.col{
    padding:0;
}

.row{
    margin-bottom:50px;
}